/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25.05.2019, 09:34:36
    Author     : michi
*/

body {
    font-family: Helvetica;
}

#chartContainer {
    height: 370px; 
    width: 60%; 
    float: left;
}

#top10 {
    height: 370px; 
    width: 40%; 
    float: right;
}