/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25.05.2019, 09:34:36
    Author     : michi
*/

body {
    font-family: Helvetica;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
}

#chartContainer {
    height: 370px; 
    width: 60%; 
    float: left;
}

#top10 {
    height: 370px; 
    width: 40%; 
    float: right;
}

#input{
    display: flex;
    align-items: center;
    justify-content: center;      
    -moz-box-shadow: 1px 1px 3px #44b4dd,-1px -1px 3px #a0a0a0; 
    -webkit-box-shadow: 1px 1px 3px #44b4dd, -1px -1px 3px #a0a0a0;
    -khtml-box-shadow: 1px 1px 3px #44b4dd, -1px -1px 3px #a0a0a0; 
    box-shadow: 1px 1px 3px #44b4dd, -1px -1px 3px #a0a0a0;
    width: 80%;
    height: 50px;
    margin-left: 10%;

}

#h{
    position: relative;
    top: 0px;
}



#abstand{
    margin-left: 5px;
    margin-right: 5px;
}

.dropbtn {
    background-color: #00B4F1;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}



@import url(https://fonts.googleapis.com/css?family=Lato:900);
*, *:before, *:after{
    box-sizing:border-box;
}
body{
    font-family: 'Lato', sans-serif;
    ;
}
div.foo{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.letter{
    display: inline-block;
    font-weight: 900;
    font-size: 8em;
    margin: 0.2em;
    position: relative;
    color: #00B4F1;
    transform-style: preserve-3d;
    perspective: 400;
    z-index: 1;
}
.letter:before, .letter:after{
    position:absolute;
    content: attr(data-letter);
    transform-origin: top left;
    top:0;
    left:0;
}
.letter, .letter:before, .letter:after{
    transition: all 0.3s ease-in-out;
}
.letter:before{
    color: #fff;
    text-shadow: 
        -1px 0px 1px rgba(255,255,255,.8),
        1px 0px 1px rgba(0,0,0,.8);
    z-index: 3;
    transform:
        rotateX(0deg)
        rotateY(-15deg)
        rotateZ(0deg);
}
.letter:after{
    color: rgba(0,0,0,.11);
    z-index:2;
    transform:
        scale(1.08,1)
        rotateX(0deg)
        rotateY(0deg)
        rotateZ(0deg)
        skew(0deg,1deg);
}
.letter:hover:before{
    color: #fafafa;
    transform:
        rotateX(0deg)
        rotateY(-40deg)
        rotateZ(0deg);
}
.letter:hover:after{
    transform:
        scale(1.08,1)
        rotateX(0deg)
        rotateY(40deg)
        rotateZ(0deg)
        skew(0deg,22deg);
}